* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F3F7F0;
    --navbar-color: #420d09;
    --text-color: #ed2939;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    -moz-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    -ms-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    -o-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    transform: translate(-50%, -50%) skew(-10deg) scale(0);
    transition: transform 200ms ease-in-out;
    background-color: var(--primary-color);
    border: 2px solid var(--navbar-color);
    padding: 2em;
    display: flex;
    flex-flow: column nowrap;
    z-index: 10;
}

.window.active {
    -webkit-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    -moz-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    -ms-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    -o-transform: translate(-50%, -50%) skew(-10deg) scale(0);
    transform: translate(-50%, -50%) skew(-10deg) scale(1);
}

.window-title {
    font-size: 2.5em;
    margin-bottom: 0.325em;
}

.window-link {
    font-size: 1.325em;
    padding: 0.2em 0;
    margin: 0.1em 0;
}

.window-link a {
    padding: 0 0.5em;
    background-color: var(--text-color);
    color: var(--primary-color);
}


.window-description {
    margin-top: 0.25em;
    font-family: Lato, sans-serif;
}

button.close-window {
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 1.75em;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--navbar-color);
    border: none;
    outline: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

body {
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.hamburger {
    display: none;
    max-width: 2em;
    width: 50%;
    height: 50%;
}

.bar {
    background-color: var(--primary-color);
    display: block;
    height: 0.25em;
    margin: 0.3em 0;
    border-radius: 2px;
    transition: all 0.25s cubic-bezier(.46,.03,.52,.96);
}

.hamburger.active > .bar:nth-child(1) {
    transform: translateY(0.55em);
}

.hamburger.active > .bar:nth-child(3) {
    transform: translateY(-0.55em);
}

nav {
    background-color: var(--navbar-color);
    color: var(--primary-color);
    width: 100%;
    position: fixed;
    padding: 0.5em;
    z-index: 2;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

a {
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
    text-decoration: none;
    color: inherit;
    -webkit-transition: transform 0.25s;
    transition: transform 0.25s;
}

a:hover {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

.nav-links {
    transition: transform 0.5s cubic-bezier(.46,.03,.52,.96);
}

.nav-link {
    font-size: 1.5em;
    -webkit-transition: transform 0.25s, color 0.25s, background-color 0.25s;
    transition: transform 0.25s, color 0.25s, background-color 0.25s;
    padding: 0.25em 1em;
}

.nav-link:hover {
    background-color: var(--primary-color);
    color: var(--navbar-color);
}

#welcome {
    height: 100vh;
    text-align: center;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#welcome h1 {
    font-size: 5em;
}

#welcome h2 {
    font-size: 2.25em;
}

#about{
    margin-bottom: 5em;
}

.text-container {
    width: 75%;
    margin: 0 auto;
}

#about > img {
    width: 15em;
    margin: 2em;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
}

#about > img:hover {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
}

img {
    width: 90%;
    border: 2px solid var(--navbar-color);
    cursor: pointer;
    -webkit-transition: transform 0.25s;
    transition: transform 0.25s;
}

.project-container {
    width: 80%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

.project {
    border: 2px solid var(--navbar-color);
    -webkit-transform: skew(-5deg);
    -moz-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    -o-transform: skew(-5deg);
    transform: skew(-5deg);
}

.project > img:hover {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
}

#contacts {
    height: 50vh;
    text-align: center;
    margin-top: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.foot-link {
    font-size: 1.5em;
    margin: 0.2em 0;
    padding: 0.25em 0.625em;
    background-color: var(--text-color);
    color: var(--primary-color);
    border: 2px solid var(--navbar-color);
}

footer {
    background-color: var(--navbar-color);
    padding: 0.5em;
    font-size: 1.25em;
    text-align: center;
    color: var(--primary-color)
}

footer > h3 {
    font-size: 1.625em;
}

@media (max-width: 860px) {
    .project-container {
        grid-template-columns: 1fr;
    }
    .foot-link {
        font-size: 1.25em;
    }
    .window {
        width: 80%;
    }
    .window-title {
        font-size: 1.5em;
    }
    .window-link {
        font-size: 1em;
    }
    .window-description {
        font-size: 0.925em;
    }
    button.close-window {
        font-size: 1.5em;
    }
}

@media (max-width: 700px) {
    .hamburger {
        display: block;
        margin: 0 auto;
    }
    .nav-links {
        display: none;
        flex-flow: column nowrap;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links > a {
        border: 2px solid var(--primary-color);
        margin: 0.25em 1em;
    }
    #welcome h1 {
        font-size: 3em;
    }
    #welcome h2 {
        font-size: 1.525em;
    }
    .foot-link {
        font-size: 0.925em;
    }
}

@media (max-width: 512px) {
    #welcome h1 {
        font-size: 2.5em;
    }
    #welcome h2 {
        font-size: 1.375em;
    }

    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    #about {
        font-size: 0.8725em;
    }
    #about > img {
        width: 12em;
    }
    .foot-link {
        font-size: 0.725em;
    }
    footer {
        font-size: 0.725em;
    }
    footer > h3 {
        font-size: 1.525em;
    }
    .window {
        -webkit-transform: translate(-50%, -50%) skew(-5deg) scale(0);
        -moz-transform: translate(-50%, -50%) skew(-5deg) scale(0);
        -ms-transform: translate(-50%, -50%) skew(-5deg) scale(0);
        -o-transform: translate(-50%, -50%) skew(-5deg) scale(0);
        transform: translate(-50%, -50%) skew(-5deg) scale(0);
    }
    .window.active {
        -webkit-transform: translate(-50%, -50%) skew(-5deg) scale(1);
        -moz-transform: translate(-50%, -50%) skew(-5deg) scale(1);
        -ms-transform: translate(-50%, -50%) skew(-5deg) scale(1);
        -o-transform: translate(-50%, -50%) skew(-5deg) scale(1);
        transform: translate(-50%, -50%) skew(-5deg) scale(1);
    }
    .window-title {
        font-size: 1.25em;
    }
    .window-link {
        font-size: 0.8725em;
    }
    .window-description {
        font-size: 0.725em;
    }
    button.close-window {
        font-size: 1.25em;
    }
}